<!-- top tiles -->
<div class="row tile_count">
    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Всего продано, шт</span>
        <div class="count">{{dashboardInfo.totalSold || 0}}</div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Общая прибыль, грн</span>
        <div class="count">{{dashboardInfo.totalProfit || 0}}</div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Продано в этом месяце, шт</span>
        <div class="count green">{{dashboardInfo.thisMonth || 0}}</div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Сотрудничество</span>
        <div class="count">{{dashboardInfo.clientCount || 0}}</div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Средний заказ, шт</span>
        <div class="count">{{dashboardInfo.averageOrder || 0}}</div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Часов на разработку</span>
        <div class="count">9999</div>
    </div>
</div>
<!-- /top tiles -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Продажи</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <chart [options]="options"></chart>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Продажи</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <chart [options]="optionsPieChart"></chart>
            </div>
        </div>
    </div>
</div>