<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>Рецепт</h4>
            </div>
            <div class="form-group">
                <select class="form-control" [(ngModel)]="currentReceipt">
                    <option *ngFor="let item of receiptsAvailable" [ngValue]="item">
                        {{item.title}}
                    </option>
                </select>
            </div>
            <div class="x_content">
                <!--Flavours-->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Ароматизатор</th>
                        <th>Проценты, %</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let flavour of currentReceipt.receiptFlavours">
                            <td>{{flavour.flavour.title}}</td>
                            <td>{{flavour.percent}}</td>
                        </tr>
                    </tbody>
                </table>
                <!--Base-->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>База</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>PG</td>
                        <td>{{currentReceipt.pgPercent || 0}} %</td>
                    </tr>
                    <tr>
                        <td>VG</td>
                        <td>{{currentReceipt.vgPercent || 0}} %</td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="form-group has-feedback col-md-6 col-md-offset-6">
                        <label>Никотин, %</label>
                        <input [(ngModel)]="currentReceipt.nicotinePercent" type="number" class="form-control has-feedback-right">
                        <span class="fa fa-percent form-control-feedback right" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 col-md-offset-6">
                        <label>Объём жидкости в итоге, мл</label>
                        <input [(ngModel)]="totalLiquidAmount" type="number" class="form-control has-feedback-right">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4>Итоговый расчёт:</h4>
            </div>
            <div class="x_content">
                <!--Result-->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Ароматизатор</th>
                        <th>Объём, мл</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let flavour of currentReceipt.receiptFlavours">
                        <td>{{flavour.flavour.title}}</td>
                        <td>{{(totalLiquidAmount / 100) * flavour.percent}}</td>
                    </tr>
                    </tbody>
                </table>
                <!--Base result-->
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Итог:</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>PG</td>
                        <td>{{getPgTotalVolume()}} мл</td>
                    </tr>
                    <tr>
                        <td>VG</td>
                        <td>{{getCurrentReceiptVgVolume()}} мл</td>
                    </tr>
                    <tr>
                        <td>Никотин</td>
                        <td>{{(getCurrentReceiptNicotineVolume())}} мл</td>
                    </tr>
                    </tbody>
                </table>

                <button [routerLink]="['/pages', 'receipts']" class="btn btn-md btn-success">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i> К списку рецептов
                </button>

            </div>
        </div>
    </div>
</div>
