<div class="x_panel">
    <div class="x_title">
        <h4>{{formTitle}}</h4>
    </div>
    <div class="x_content">
        <form class="form-horizontal" (ngSubmit)="submitForm()" [formGroup]="editForm">
            <div class="form-group">
                <label>Название</label>
                <input type="text" [class.error]="!editForm.get('title').valid"
                       class="form-control" placeholder="Наименование"
                       formControlName="title"/>
                <span *ngIf="checkControlValidation('title', 'required')" class="text-danger">Наименование обязательное поле</span>
                <span class="text-danger" *ngIf="checkControlValidation('title', 'maxlength')">
                    Максимальная длина 50 символов</span>
            </div>
            <div class="form-group">
                <label>Производитель</label>
                <select [class.error]="!editForm.get('manufacturer').valid" class="form-control"
                        formControlName="manufacturer">
                    <option *ngFor="let item of flavourManufacturers" [ngValue]="item.value">{{item.value}}</option>
                </select>
                <span *ngIf="checkControlValidation('manufacturer', 'required')" class="text-danger">Наименование обязательное поле</span>
                <span class="text-danger" *ngIf="checkControlValidation('manufacturer', 'maxlength')">
                    Максимальная длина 50 символов</span>
            </div>
            <button [disabled]="isProcessing" type="submit" class="btn btn-success pull-right">
                <i *ngIf="isProcessing" class="fa fa-spinner fa-spin" aria-hidden="true"></i> Сохранить
            </button>
            <button [routerLink]="['/pages', 'flavours']" class="btn btn-default pull-right">Назад</button>
        </form>
    </div>
</div>
