<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="false">
                        <img src="/assets/images/default-avatar.jpg" alt="">{{userModel ? userModel.name : ' '}}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a [routerLink]="['/pages', 'dashboard']"> Главная</a></li>
                        <li><a [routerLink]="['/pages', 'profile']"> Профиль</a></li>
                        <li *ngIf="currentUserService.isAdmin()"><a [routerLink]="['/pages', 'register']"> Создать нового пользователя</a></li>
                        <li (click)="logout()"><a><i class="fa fa-sign-out pull-right"></i> Выйти</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>