<div class="col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Рецепты жидкостей</h2>
            <div class="nav navbar-right panel_toolbox">
                <button [routerLink]="['/pages', 'receipts', 'add']" class="btn btn-md btn-success">
                    <i class="fa fa-plus" aria-hidden="true"></i> Добавить
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>PG, %</th>
                        <th>VG, %</th>
                        <th>Никотин, %</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of receipts">
                        <td>{{item.pgPercent}}</td>
                        <td>{{item.vgPercent}}</td>
                        <td>{{item.nicotinePercent}}</td>
                        <td>
                            <button [routerLink]="['/pages','receipts','details', item.id]" class="btn btn-xs btn-info">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                            <button [routerLink]="['/pages','receipts','edit', item.id]" class="btn btn-xs btn-warning">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button (click)="deleteReceipt(item)" class="btn btn-xs btn-danger">
                                <i class="fa fa-close"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>