<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Подробности заказа</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <section class="content invoice">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-xs-12 invoice-header">
                            <h1>
                                <i class="fa fa-globe"></i> Накладная
                                <small class="pull-right">Дата: {{order.date | date: 'd/MM/yy'}}</small>
                            </h1>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            От
                            <address>
                                <strong>Vape Vault e-liquids</strong>
                                <br>г. Харьков
                                <br>Украина
                                <br>Тел: +38 068 25 06 773
                                <br>Email: vault.liquids@gmail.com
                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            Для
                            <address *ngIf="order.client">
                                <strong>{{order.client.name}}</strong>
                                <br>{{order.client.contactPerson}}
                                <br>{{order.client.physicAddress}}
                                <br>{{order.client.phone}}
                                <ng-template *ngFor="let item of order.client.clientLinks">
                                    <br>{{item.link}}
                                </ng-template>
                            </address>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <!-- Table row -->
                    <div class="row">
                        <div class="col-xs-12 table">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Номер</th>
                                    <th>Продукт</th>
                                    <th>Никотин, %</th>
                                    <th>Объём, мл</th>
                                    <th style="width: 39%">Описание</th>
                                    <th>Количество</th>
                                    <th>Цена\шт</th>
                                    <th>Сумма</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let detail of order.orderDetails">
                                    <td>{{detail.productId}}</td>
                                    <td>{{detail.name}}</td>
                                    <td>{{detail.nicotineAmount}}</td>
                                    <td>{{detail.volume}}</td>
                                    <td>{{detail.info}}</td>
                                    <td>{{detail.count}}</td>
                                    <td>{{detail.price}}</td>
                                    <td>{{detail.count * detail.price}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <!-- /.col -->
                        <div class="col-xs-offset-6">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th style="width:50%">Итого:</th>
                                        <td>{{orderTotal}} грн.</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <!-- this row will not appear when printing -->
                    <div class="row no-print">
                        <div class="col-xs-12">
                            <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Печать
                            </button>
                            <button [routerLink]="['/pages', 'orders', 'list']" class="btn btn-success pull-right">
                                <i class="fa fa-check"></i> К списку заказов
                            </button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>