<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Поступление на склад от {{formatDate(storage.date)}}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-responsive table-bordered">
                    <thead>
                    <tr>
                        <th>Продукт</th>
                        <th>Никотин, %</th>
                        <th>Объём, мл</th>
                        <th>Количество, шт</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of storage.storageDetails">
                        <td>
                            {{item.product.name}}
                        </td>
                        <td>
                            {{item.product.nicotineAmount}}
                        </td>
                        <td>
                            {{item.product.volume}}
                        </td>
                        <td>
                            {{item.count}}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><h5><b>Итого:</b></h5></td>
                        <td><h5>{{storage.totalCount}}</h5></td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-xs-12">
                        <button [routerLink]="['/pages', 'storage', 'list']" class="btn btn-success pull-right">
                            <i class="fa fa-check"></i> Назад
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>