<div class="x_panel">
    <div class="x_title">
        <h4>{{formTitle}}</h4>
    </div>
    <div class="x_content">
        <form class="form-horizontal" (ngSubmit)="submitForm()" [formGroup]="editForm">
            <!-- Client -->
            <div class="form-group">
                <label>Клиент</label>
                <select type="text" [class.error]="!editForm.get('clientId').valid"
                        class="form-control" formControlName="clientId">
                    <option *ngFor="let option of clientAvailable" [ngValue]="option.id">
                        {{option.name + ', ' + option.contactPerson}}
                    </option>
                </select>
                <span *ngIf="checkControlValidation('clientId', 'required')"
                      class="text-danger">Клиент обязательное поле</span>
            </div>

            <div class="form-group">
                <label>Описание</label>
                <textarea type="text" [class.error]="!editForm.get('info').valid"
                          class="form-control" placeholder="Описание"
                          formControlName="info"></textarea>
                <span *ngIf="checkControlValidation('info', 'required')"
                      class="text-danger">Описание обязательное поле</span>
                <span *ngIf="checkControlValidation('info', 'maxlength')"
                      class="text-danger">Максимальная длина поля 255 символов</span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" [class.error]="!editForm.get('realization').valid"
                               formControlName="realization"/>
                        Заказ под реализацию
                    </label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" [class.error]="!editForm.get('payment').valid"
                                  formControlName="payment"/>
                        Заказ уже оплачен
                    </label>
                </div>
            </div>

            <div class="ln_solid"></div>

            <fieldset formArrayName="orderDetails">
                <div class="form-group"
                     *ngFor="let option of editForm.controls['orderDetails'].controls; let i=index;"
                     [formGroupName]="i">

                    <div class="col-md-5 col-sm-5 col-xs-12 has-feedback">
                        <select type="text" class="form-control has-feedback-left" formControlName="productId">
                            <option *ngFor="let option of productsAvailable" [ngValue]="option.id">
                                {{option.name + ' (' + option.nicotineAmount + ', ' + option.volume + ' мл)'}}
                            </option>
                        </select>
                        <span class="fa fa-flask form-control-feedback left" aria-hidden="true"></span>
                        <span *ngIf="option.get('productId').hasError('required') && !option.get('productId').pristine" class="text-danger">
                            Поле обязательно
                        </span>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12  has-feedback">
                        <input formControlName="count" type="text" class="form-control has-feedback-left"
                               placeholder="Количество">
                        <span class="fa fa-arrow-up form-control-feedback left" aria-hidden="true"></span>
                        <span *ngIf="option.get('count').hasError('required') && !option.get('count').pristine" class="text-danger">
                            Поле обязательно
                        </span>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-12  has-feedback">
                        <input formControlName="price" type="text" class="form-control has-feedback-left"
                               placeholder="Цена">
                        <span class="fa fa fa-money form-control-feedback left" aria-hidden="true"></span>
                        <span *ngIf="option.get('price').hasError('required') && !option.get('price').pristine" class="text-danger">
                            Поле обязательно
                        </span>
                    </div>

                    <div class="col-md-1 col-sm-1">
                        <button (click)="deleteDynamicControl(i)" type="button" class="btn btn-default form-control">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <button class="btn btn-default" (click)="addDynamicFormControl()" type="button">
                            <i class="fa fa-plus" aria-hidden="true"></i> Добавить продукт
                        </button>
                    </div>
                </div>
            </fieldset>

            <button [disabled]="isProcessing || editForm.invalid" type="submit" class="btn btn-success pull-right">
                <i *ngIf="isProcessing" class="fa fa-spinner fa-spin" aria-hidden="true"></i> Сохранить
            </button>
            <button [routerLink]="['/pages', 'orders']" class="btn btn-default pull-right">Назад</button>
        </form>
    </div>
</div>
